//----------------------------------------------
// Post
//---------------------------------------------- 
.post {

  // .amp-template & {
  //   background-color: $color-white;
  // }

  &__header {
    @extend %text-center;

    border-bottom: $border;
  }

  &__date {
    @extend %font-header;

    display: block;
    margin-top: 0.25em;

    font-size: $font-xsmall;
  }

  &__img {
    padding: 1em;

    @media (min-width: $mq-small) {
      padding: 2em;
    }

    & > * {
      position: relative;

      height: 100%;
      width: 100%;

      background-color: $color-lightgrey;
    }
  }

  // &__amp-img {
  //   padding: 1em;
  // }

  &__content {
    border-top: $border;
  }

  &__social {
    @extend %flex-center;
    @extend %no-list-style;

    margin: {
      top: 2em;
      bottom: 0;
      left: 0;
    }

    @media (min-width: $mq-med) {
      margin-top: 3em;
    }

    @media (min-width: $mq-xlarge) {
      margin-top: 4em;
    }

    & > * {
      &:not(:last-child) {
        margin-right: 0.75em;
      }
    }

    a {
      font-size: 1.1em;
      color: $color-darkgrey;
    }
  }

  &__author {
    @extend %font-header;
    @extend %font-size;

    display: block;

    a {
      color: $color-black;
      transition: color 200ms ease-in-out;

      &:hover,
      &:active,
      &:focus {
        color: darken($color-black, 5);
      }
    }
  }

  &__bio {
    @extend %font-size;

    margin-bottom: 0;
  }

  &__comments {
    border-top: $border;
  }
}

//----------------------------------------------
// Jekyll
//---------------------------------------------- 
#markdown {
  display: flex;
  flex-direction: column;
  align-items: center;

  .post-layout &,
  #style-guide & {
    font-family: $font-post;
  }

  & > * {
    min-width: 100%;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem;

    font-family: $font;
  }

  h1 {
    font-size: 2.25em;
    line-height: 1.2;
  }

  h2 {
    font-size: 2em;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.75em;
    line-height: 1.3;
  }

  h4 {
    font-size: 1.5em;
    line-height: 1.3;
  }

  h5 {
    font-size: 1.25em;
    line-height: 1.4;
  }

  h6 {
    font-size: 1.1em;
  }

  h6 + hr {

    #style-guide & {
      margin-top: 1rem;
    }
  }

  p {
    margin-bottom: 1.5rem;

    font-size: 1.1em;

    @media (min-width: $mq-small) {
      font-size: 1.25em;
    }

    img {
      margin-bottom: 0;
    }
  }

  blockquote {
    p {
      margin-bottom: 0;
    }
  }

  a {
    color: $color-black;
    border-bottom: 2px solid $color-grey;
    box-shadow: inset 0 -3px 0 $color-grey;
  }

  hr {
    height: 1px;
    width: 100%;
    margin: {
      top: 0;
      bottom: 1.5rem;
    }

    border: 0;
    background-color: rgba($color-black, 0.1);
  }

  br {
    display: none;
  }

  img {
    display: block;
    margin-bottom: 1.5rem;
  }

  img[src$="#full"] {
    width: 100vw;
    max-width: none;
  }

  .flex-vid {
    margin-bottom: 1.5rem;

    iframe {
      display: block;
    }
  }
}
